@import "_variables.scss";

.badge_stack {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;

  &.dark {
    .badge_group .badge {
      color: $fontColour;
      background: $background;
    }
  }

  @media #{$vertical} {
    flex-direction: row;
  }

  .badge_group {
    display: flex;
    flex-direction: column;
    width: fit-content;

    &.has-booking {
      display: flex;
    }

    @media #{$vertical} {
      flex-direction: row;
      width: auto;
      &.has-booking { display: none; }
    }

    .badge {
      color: $darkFontColour;
      font-weight: 500;
      line-height: 1em;
      background: #222;
      margin-bottom: 0.35em;
      padding: 0.2em 0.5em;
      min-width: 3.5em;

      @media #{$vertical} {
        margin: 0 0.5em 0 0;
        min-width: 3em;
      }

      &.badge-booking {
        background: $sydtrains;
        color: $darkFontColour;
      }
    }
  }
}
