@import "_variables.scss";
@import url("https://use.typekit.net/phi8jlv.css");

body {
  margin: 0;
  color: $fontColour;
  background-color: $background;
  font-size: $fontSize;
  font-family: frank-new, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.05em;
  height: 100%;

  &.dark {
    color: $darkFontColour;
    background-color: $darkBackground;
  }

  @media #{$vertical} and #{$mobile} { font-size: 14px; }
  @media #{$vertical} and #{$tablet} { font-size: 17px; }
  @media #{$vertical} and #{$laptop} { font-size: 34px; }
  @media #{$vertical} and #{$desktop} { font-size: 38px; }
  @media #{$vertical} and #{$tv} { font-size: 42px; }

  @media #{$horizontal} and #{$mobile} { font-size: 12px; }
  @media #{$horizontal} and #{$tablet} { font-size: 12px; }
  @media #{$horizontal} and #{$laptop} { font-size: 22px; }
  @media #{$horizontal} and #{$desktop} { font-size: 27px; }
  @media #{$horizontal} and #{$tv} { font-size: 44px; }
}

.wrapper {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
}

.titlePair {
  font-size: 1.4em;
  text-align: right;

  .value {
    font-size: 2.4em;
    font-weight: 500;
    height: 1.2em;
    white-space: nowrap;
  }
}
