@import "_variables.scss";

.following_services {
  margin: 0.5em $screenPadding 1em;
  border-top: 0.1em solid $fontColour;
  border-color: $fontColour;
  padding-top: 0.5em;
  background: $background;
  letter-spacing: -0.025em;

  &.dark {
    background: $darkBackground;
    border-color: $darkFontColour;
  }

  .rows {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      font-size: 1.85em;
      justify-content: space-between;

      &:first-child {
        font-size: 1.2em;
        margin-bottom: 0.1em;
      }

      &.row-primary {
        font-weight: 400;
        -webkit-text-stroke: 0.5px;
      }

      &.via {
        justify-content: flex-start;
        font-size: 1.2em;
        height: 1.2em;
        margin-top: 0.1em;

        .cell { width: 100%; }
        .via-text { margin-right: 0.5em; }
        .badge_stack { font-size: 0.75em; }
        &:not(:last-child) { margin-bottom: 0.2em;}
      }

      .cell {
        text-align: center;
        width: 17.5%;

        &:first-child {
          width: 55%;
          text-align: left;
        }

        &:last-child {
          width: 27.5%;
          text-align: right;
          white-space: nowrap;
          float: right;
        }
      }
    }
  }
}
