@import "./_variables.scss";

.service_bar {
  display: flex;
  margin: 1em $screenPadding 0.5em;
  border-bottom: 0.1em solid $fontColour;
  border-color: $fontColour;
  padding-bottom: 1em;

  @media #{$horizontal} {
    height: 4.5em;
    margin: 1em $horizontalScreenPadding 0.5em;
  }

  &.dark {
    border-color: $darkFontColour;

    .icon {
      filter: invert(1);
    }
  }

  &.isIntercity {
    margin: 1em $screenPadding 0.5em;

    @media #{$horizontal} {
      margin: 1em $horizontalScreenPadding 0.5em;
    }

    .service_container {
      flex-direction: column;
      @media #{$horizontal} { flex-direction: row; }

      .service {
        display: flex;
        align-items: center;
        margin-bottom: 0.25em;
        @media #{$horizontal} { margin: 0; }
      }

      .service_time {
        display: block;
        font-size: 2.5em;
        line-height: 1em;
        @media #{$horizontal} { display: none; }
      }

      .line_stack {
        .line_to {
          font-size: 2.5em;
        }

        .line_via {
          height: 1em;
          line-height: 1.3em;
          font-size: 1.75em;
          @media #{$horizontal} {
            display: none;
          }
        }

        .service_time {
          @media #{$horizontal} { display: flex; }
        }

        .booking {
          @media #{$horizontal} { display: none; }
        }
      }
    }
  }

  .service_container {
    display: flex;
    flex: 1;

    .service_time {
      display: none;
      font-weight: 500;
      font-size: 3em;
      letter-spacing: -0.025em;
    }

    .line_stack {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 500;

      .service_time { display: none; }

      .line_to {
        font-size: 2.5em;
        line-height: 1em;
        height: 1.1em;
        letter-spacing: -0.03em;
        -webkit-text-stroke: 0.5px;

        @media #{$mobile} { -webkit-text-stroke: 0px; }
        @media #{$tablet} { -webkit-text-stroke: 0px; }
        @media #{$horizontal} { font-size: 2.5em; }
      }

      .line_via {
        opacity: 0.7; // use opacity instead of rgba colour to colour svg icon (.icon)
        font-weight: 400;
        font-size: 1.9em;
        line-height: 1em;
        height: 1em;
        padding-top: 0.175em;
        -webkit-text-stroke: 0.35px;

        .icon {
          width: 0.7em;
          height: 0.7em;
          padding: 0.15em 0 0 0.25em;
        }

        @media #{$horizontal} { font-size: 1.7em; }
      }

      .booking {
        position: relative;
        display: inline-block;
        background-color: $sydtrains;
        color: $darkFontColour;
        font-size: 1.4em;
        padding: 0.15em 0.5em;
        top: 0.3em;
      }
    }
  }

  .platform {
    display: none;
    position: relative;
    top: -0.25em;

    @media #{$horizontal} { display: block; }

    .title {
      font-size: 0.9em;
    }

    .value {
      position: relative;
      top: -0.05em;
      font-size: 2.2em;
      height: 0;
    }
  }
}
