@import "./_variables.scss";

/*
  Top Bar
  (Service, Time Now: 12:22:04)
*/
.timeBar {
  display: flex;
  justify-content: space-between;
  background-color: $sydtrains;
  color: #FFFFFF;
  padding: 0.4em $screenPadding 0.2em;

  .nextService {
    font-size: 2em;
    font-weight: 500;
  }

  .timeContainer {
    display: flex;

    .timeText {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      font-size: 1.4em;
      -webkit-text-stroke: 0.25px;

      padding-bottom: 0.1em;
      margin-right: 0.4em;
    }

    .timeNow {
      font-size: 2em;
      font-weight: 500;
    }
  }
}

/*
  Line Icon
  [T1], [T2], [T3], (M), (T), etc.
*/

.icon {
  margin-right: 1em;

  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;

    font-size: 3.5em;
    font-weight: 500;
    color: #FFF;
    border-radius: 0.2em;

    @media #{$horizontal} { font-size: 3em; }

    &.bus {
      font-size: 2.5em;
      width: 2.1em;
      height: 2.1em;
      background-color: '#00ade8';
    }
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.45em;
    height: 1.45em;

    font-size: 3em;
    font-weight: 700;
    color: #FFF;

    border: 0.1em solid #FFFFFF;
    background-color: $intercity;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.25);
    border-radius: 50%;

    &.small {
      width: 1.25em;
      height: 1.25em;
      font-size: 2.5em;
      border-width: 0.125em;

      @media #{$horizontal} {
        width: 1.25em;
        height: 1.25em;
        font-size: 3em;
      }
    }
  }
}

/*
  Service Bar
  ([T1], Leppington via Parramatta) 
*/

.serviceBar {
  display: flex;
  margin: 1em $screenPadding 0.5em;
  border-bottom: 0.1em solid black;
  padding-bottom: 1em;

  &.vertical {
    margin: 0.5em $screenPadding 0;

    @media #{$horizontal} {
      height: 5.25em;
    }

    .serviceContainer {
      flex-direction: column;

      .service {
        display: flex;
        align-items: center;
        margin-bottom: 0.25em;
  
        .serviceTime {
          display: block;
        }
      }
    }

    .lineText .lineTo {
      font-size: 2.85em;
    }
  }

  .serviceContainer {
    display: flex;
    flex: 1;

    .service {
      .serviceTime {
        display: none;
        font-weight: 500;
        font-size: 3em;
        letter-spacing: -0.025em;
      }
    }

    .lineText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 500;
  
      .lineTo {
        font-size: 3em;
        line-height: 1em;
        letter-spacing: -0.03em;
        -webkit-text-stroke: 0.5px;
  
        @media #{$mobile} { -webkit-text-stroke: 0px; }
        @media #{$tablet} { -webkit-text-stroke: 0px; }
        @media #{$horizontal} { font-size: 2.5em; }
      }
  
      .lineVia {
        color: #444;
        font-weight: 400;
        font-size: 1.9em;
        line-height: 1em;
        padding-top: 0.175em;
        -webkit-text-stroke: 0.35px;

        @media #{$horizontal} { font-size: 1.7em; }
      }
    }
  }

  .platform {
    display: none;
    position: relative;
    top: -0.25em;

    @media #{$horizontal} { display: block; }

    .title {
      font-size: 0.9em;
    }

    .value {
      position: relative;
      top: -0.05em;
      font-size: 2.2em;
      height: 0;
    }
  }

  .booking {
    display: inline-flex;
    background-color: $sydtrains;
    color: #FFFFFF;
    font-size: 1.75em;
    margin-bottom: $screenPadding;
    padding: 0.3em 0.7em;
  }
}
