@import "_variables.scss";

.scrollView {
  position: relative;
  display: flex;
  padding: 0 $screenPadding;
  height: 100px;
  flex: 1;

  .scrollContainer {
    flex: 1;
  }

  .infoContainer {
    display: flex;
    position: absolute;
    z-index: 1;
    right: $screenPadding;
    top: $screenPadding;
    bottom: 0;
    background: $background;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;

    &.showPlatform {
      justify-content: space-between;
      .platform { display: block; }
    }

    .platform { display: none; }
  }

  .stationScroll {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    flex: 1;
  
    .station {
      height: 1.225em;
      font-size: 2em;
      -webkit-text-stroke: 1px;
      white-space: nowrap;
  
      @media #{$mobile} { -webkit-text-stroke: 0.25px; }
      @media #{$tablet} { -webkit-text-stroke: 0.5px; }
  
      &.small {
        -webkit-text-stroke: 0;
        font-size: 0.5em;
      }
    }
  }
}
