@import "_variables.scss";

.scrollView {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 $screenPadding;
  height: 100px;
  flex: 1;

  @media #{$horizontal} {
    padding: 0 $horizontalScreenPadding;
  }

  &.dark {
    .infoContainer {
      background: $darkBackground;
    }

    .bar__bottom {
      background: $darkBackground;
    }

    .badge__stack .badge__group .badge {
      color: $fontColour;
      background: $background;
    }

    .stationScroll .station .altIcon {
      filter: invert(1);
    }
  }

  .scrollContainer {
    flex: 1;
  }

  .infoContainer {
    display: flex;
    position: absolute;
    z-index: 2;
    right: $screenPadding;
    top: 0;
    bottom: 0;
    background: $background;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;

    @media #{$horizontal} {
      right: $horizontalScreenPadding;
      bottom: $screenPadding;
    }

    .titlePair .value {
      font-size: 2em;
    }

    .platform {
      display: block;
      @media #{$horizontal} { display: none; }
    }

    .badge__stack {
      @media #{$vertical} { display: none; }
    }
  }

  .bar__bottom {
    position: absolute;
    bottom: -5px;
    width: 100%;
    z-index: 1;
    background: $background;
    @media #{$horizontal} { display: none; }
    padding: 0.5em 0;

    .badge__stack {
      flex-direction: row;
      .badge__group {
        flex-direction: row;
        width: auto;
        .badge {
          margin: 0 0.5em 0 0;
          min-width: 3em;
        }
      }
    }
  }

  .stationScroll {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    flex: 1;

    .station {
      height: 1.225em;
      font-size: 2em;
      -webkit-text-stroke: 1px;
      white-space: nowrap;

      @media #{$mobile} { -webkit-text-stroke: 0.25px; }
      @media #{$tablet} { -webkit-text-stroke: 0.5px; }

      .altIcon {
        width: 0.7em;
        height: 0.7em;
        padding: 0.15em 0 0 0.25em;
      }

      &.small {
        -webkit-text-stroke: 0;
        font-size: 0.5em;
      }
    }
  }

  .badge__stack {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;

    .badge__group {
      display: flex;
      flex-direction: column;
      width: fit-content;

      .badge {
        color: $darkFontColour;
        font-weight: 500;
        line-height: 1em;
        background: #222;
        margin-bottom: 0.35em;
        padding: 0.2em 0.5em;
        min-width: 3.5em;

        &.badge-booking {
          background: $sydtrains;
          color: $darkFontColour;
        }
      }
    }

    @media #{$horizontal} { display: flex; }
  }
}
